<%= render 'global/close' %>
<div id="add-contact">
  <div id='add-contact-status-bar'></div>
  <div id='add-contact-header'>New Contact</div>
    <%= form_with url: 'contacts#add' do |form| %>
      <div id='add-contact-form-fields'>
        <%= form.label :name, class: 'add-contact-form-field-label' %>
        <%= form.text_field :name,
          autocomplete: "off", autofocus: true, class: "form-control" %>
        <%= form.label :phone1, class: 'add-contact-form-field-label' %>
        <%= form.text_field :phone1,
          autocomplete: "off", autofocus: true, class: "form-control" %>
        <%= form.label :phone2, class: 'add-contact-form-field-label' %>
        <%= form.text_field :phone2,
          class: "form-control" %>
        <%= form.label :fax, class: 'add-contact-form-field-label' %>
        <%= form.text_field :fax,
          class: "form-control" %>
        <%= form.label :email, class: 'add-contact-form-field-label' %>
        <%= form.text_field :email,
          class: "form-control" %>
        <%= form.label :address1, class: 'add-contact-form-field-label' %>
        <%= form.text_field :address1,
          class: "form-control" %>
        <%= form.label :address2, class: 'add-contact-form-field-label' %>
        <%= form.text_field :address2,
          class: "form-control" %>
        <%= form.label :city, class: 'add-contact-form-field-label' %>
        <%= form.text_field :city,
          class: "form-control" %>
        <%= form.label :state, class: 'add-contact-form-field-label' %>
        <%= form.text_field :state,
          class: "form-control" %>
        <%= form.label :zipcode, class: 'add-contact-form-field-label' %>
        <%= form.text_field :zipcode,
          class: "form-control" %>
        <%= form.label :country, class: 'add-contact-form-field-label' %>
        <%= form.text_field :country,
          class: "form-control" %>
        <%= form.label :notes, class: 'add-contact-form-field-label' %>
        <%= form.text_area :notes,
          class: "form-control contact-notes" %>
        <%= form.submit "Add", id: 'add-contact-form-submit'%>
     </div>
  <% end %>
</div>
