<div id='home-nav-overlay'>
</div>
<div id='home-nav'>
  <div>
    <a  href='javascript:void(0)' 
        id='home-nav-close-btn'
        onclick='closeNav()'>
      <i class="fal fa-times home-nav-bottom-close-icon ft-cr-snow"></i>
    </a>
  <div>
  <div id='home-nav-overlay-content'>
    <div class='ft-cr-snow ft-nunito-24' onclick='closeNav()' ><%= link_to "Profile",profiles_url %></div>
    <div class='ft-cr-snow ft-nunito-24' onclick='closeNav()' ><%= link_to "Activity",events_url %></div>
    <div class='ft-cr-snow ft-nunito-24' onclick='closeNav()' ><%= link_to "Contacts",contacts_url %></div>
    <div class='ft-cr-snow ft-nunito-24' onclick='closeNav()' ><%= link_to "Medications",prescriptions_url %></div>
    <div class='ft-cr-snow ft-nunito-24' onclick='closeNav()' ><%= link_to "Journal",journals_url %></div>
    <div class='ft-cr-snow ft-nunito-24' onclick='closeNav()' ><%= link_to "Settings",settings_url %></div>
    <div class='ft-cr-snow ft-nunito-24' onclick='closeNav()' ><%= link_to "Sign Out",destroy_user_session_url,method: :delete %></div>
  </div>
<div>
